<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Productos</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css">
</head>
<body>
	<h1 class="text-center">:::Listado de Productos:::</h1>
	<div class="container">
			<table class="table">
				
				  <thead>
				    <tr>
				      <th scope="col">Código Producto</th>
				      <th scope="col">Nombre</th>
				      <th scope="col">Descripción</th>
						<th scope="col">Codigo Proveedor</th>
				      <th scope="col">Fecha Ingreso</th>
  				      <th scope="col">Fecha Salida</th>
  				      <th scope="col">Stock</th>
  				      <th scope="col">Categoría</th>
				    </tr>
				  </thead>
				  <tbody>
				    <tr th:each="pr : ${listaProducto}">
				      <td th:text="${pr.cod_unico_prod}"></td>
				      <td th:text="${pr.nombre_prod}"></td>
				      <td th:text="${pr.descripcion_prod}"></td>
						<td th:text="${pr.cod_unico_prov}"></td>
						<td th:text="${#dates.format(pr.fecha_ingreso, 'yyyy-MM-dd')}"></td>
						<td th:text="${#dates.format(pr.fecha_salida, 'yyyy-MM-dd')}"></td>

						<td th:text="${pr.stk_prod}"></td>
						<td th:text="${pr.cod_categoria}"></td>
				     </tr>				 				   
				  </tbody>
				</table>
			</div>
</body>